#cabecera{
	height: 200px;
}

#menu{
	height: 50px;
	background-image: url(../img/menu.png);
	background-repeat: repeat-x;
}

#galeria{
	
}

#contenido_izq{
	
	height: 300px;
}

#contenido_der{
	
	height: 400px;
}

#pie_pagina{
	background-color: red;
	height: 300px;
}


#menu ul {
    list-style: none outside none;
	text-transform: uppercase;
	float:right;
	margin-top:0px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #575757;
    display: inline;
	float:left;
    font-family: "Arial";
    font-size: 13px;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
}



#menu ul li a:hover, #menu ul li .seleccionado{
    color: #000;	
	line-height:39px;
	border-top: 3px solid #747474;
	padding-top:5px;	
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset;
	background-color:#FBFBFB;
}

#menu li {
    cursor: pointer;
    display: block;
    font-size: 0.85em;
    font-weight: normal;
    height: 49px;
    line-height: 49px;
    margin: 0;
    outline: medium none;
    padding: 0;
    position: relative;
    white-space: nowrap;
    z-index: 100;
}

